* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-bg-color: #1a2131;
  --primary-bg-color-light: #F0EBD8;
  --secondary-bg-color: #3E5C76;
  --primary-color: #fff;
  --secondary-color: #222;
  --sidebar-width-expanded: 200px;
  --sidebar-width-collapsed: 50px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
}

.faded-bg {
  background: linear-gradient(to rigth,
      rgb(0 0 0 / 0.5),
      rgb(0 0 0 / 0),
    )
}